body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-image: url(img/pattern.webp);
    display: inline-block;
    color: khaki;
    font-size: 79px;
    font-weight: bold;
}

h2 {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

h2.brush {
    background-color: springgreen;
}

h2.frame {
    background-color: lightcoral;
}

h2.paint {
    background-color: skyblue;
}