body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-image: url(img/pattern.webp);
    display: inline-block;
    color: khaki;
    font-size: 79px;
    font-weight: bold;
}

h2 {
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding: 10px ;
}

h2.brush {
    margin-top: 100px;
    background-color: springgreen;
}

h2.frame {
    background-color: lightcoral;
}

h2.paint {
    background-color: skyblue;
}

.blue_text {
    color: blue;
    font-weight: bold;
}